/* 
  How to test:

  Chrome -> F12 -> Console -> CTRL+V :

   $("head").append( "<style>@import url('https://zoodasatgd.github.io/theme1/rainbow.css');</style>" )

 
*/

/* Background */
html, body{
    height: auto !important;
}
html {
  background: none !important;
/*   height: 100% !important; */
}
body {
    background: linear-gradient(25deg,hsla(270,0%,0%,1.0)2%,hsla(270,0%,100%,0.0)30%,hsla(100,100%,100%,0.0)50%,hsla(100,100%,100%,0.1)70%,hsla(0,0%,20%,1)98%),linear-gradient(-25deg,rgb(255, 255, 209) 0%,rgb(252, 255, 209) 6.6%,rgb(240, 255, 209) 6.7%,rgb(237, 255, 209) 13.3%,rgb(225, 255, 209) 13.3%,rgb(222, 255, 209) 20%,rgb(209, 255, 209) 20%,rgb(209, 255, 212) 26.6%,rgb(209, 255, 225) 26.7%,rgb(209, 255, 228) 33.2%,rgb(209, 255, 240) 33.3%,rgb(209, 255, 243) 39.8%,rgb(209, 255, 255) 40%,rgb(209, 252, 255) 46.5%,rgb(209, 240, 255) 46.7%,rgb(209, 237, 255) 53.1%,rgb(209, 225, 255) 53.3%,rgb(209, 222, 255) 59.7%,rgb(209, 209, 255) 60%,rgb(212, 209, 255) 66.3%,rgb(225, 209, 255) 66.7%,rgb(228, 209, 255) 73%,rgb(240, 209, 255) 73.3%,rgb(243, 209, 255) 79.6%,rgb(255, 209, 255) 80%,rgb(255, 209, 252) 86.2%,rgb(255, 209, 240) 86.7%,rgb(255, 209, 237) 92.8%,rgb(255, 209, 225) 93.3%,rgb(255, 209, 222) 99.4%);
    background-size: 100% 100%;
    background-attachment: fixed;

/*     height:100% !important; */
/*     background-repeat:no-repeat; */
/*     background-attachment:scroll;;  */

}


/* Logo */
body > header > div:nth-child(1) > div > div.col-xs-4 > a > img{
    filter: opacity(0.55) hue-rotate(62deg);
}


/* Header ^_____^ */
header #header-bar {
    margin-top: 7px;
}
header #header-bar>.row {
    border: none;
    padding: 1px 0px;
    background: linear-gradient(90deg,#fde9dd,#ffffff87,#faffe7,#9ebfff9c);
}
header #right-search-form:before{
    content: " ";
    position: absolute;
    width: 214px;
    height: 36px;
    display: block;
    right: 49px;
    background: #00ffb96e;
}

header #right-search-form>input[type=text]{
    border:none;
    margin:3px;
    width: 206px;
    font-size: 15px;
    background: #d9f6ff;
}
header #right-search-form>#right-search-btn{
    width:31px;
}
.fa-search:before {
    color: #889cb7;
}
header #header-bar #header-top-notice strong.notice-badge{
    color: #555;
    background: #fafee7;
}
::-webkit-input-placeholder{
    color: #555 !important;
}

#board-info h1{
    border-bottom: 1px solid #8ab3c8;
}

/* Menu <<< _______ */
#main .menu-wrapper {
    border: none;
}
#main .menu-wrapper>a {
    border:none;
    border-bottom:1px solid #e2e2e2;
    background: none;
}
#main .menu-wrapper .spacer{
    background:#0000000f;
}
#main .menu-wrapper>.header {
    color: #555;
    /* padding: 5px 1.4em 6px 1em; */
    /* margin:0; */
    background: #d2d8faad;
}

header #header-bar>.row:before {
    content: " ";
    height: 2px;
    width: 100%;
    position: relative;
    top: -3px;
}
#main .menu-wrapper>.header>a{
    color: #555;
}

#main #main-content>div.frame,
#main .menu-wrapper {
    background: linear-gradient(15deg,#ffd9d9a6,#f2ffdc,#f4efff,#e6ecff,#edf9fb,#ffd9e9b0);
}


/* articles ____ >>>>>>>> */
.fa-user:before {
    content: " \c880 \be44 ";
}
#main #main-content>div.frame {
    border:none;
}
#article-list>div:nth-child(2) { 
    border:none !important;
}
#article-content-wrapper>.header{
    border:none;
    background: linear-gradient(0deg,#ffffff,#f2e7f3);
}
#article-content-wrapper>.footer{
    background: linear-gradient(180deg,#ffffff,#f1e0ff);
    
}
#article-content-wrapper:before,
#article-list:before {
    content: " ";
    height: 2px;
    width:100%;
    position:relative;
    left: 0px;
    display: block;
}



/* Paginator */
.pagination{
    border-radius: 3px;
}
.pagination>.active>a,.pagination>.active>a:hover{
    color: #555;
    background: #f7f3ff;
}
.pagination>li>a:hover{
    border-color: #555;
    /* background: #d8d8d8; */
    color:#555;
}

.pagination>li>a{
    background: #ffffff;
    border:1px solid #c7c0d8;
    margin:2px 1px;
    border-radius: 3px !important;
}

#article-list>.article-list-row.hot:before{
    content:" ";
    width:847px;
    position: absolute;
    height:2px;
    left: 14px;
}
#article-list>.article-list-row.hot{
    background: linear-gradient(92deg,#fffdf2,#ffffff,#fffbfa,#f7fffe);
}
#article-list>.article-list-row.hot:hover{
    background: linear-gradient(92deg,#fffade,#ffffff,#fffbfa,#f7fffe);
}
#article-list>.article-list-row.notice{
    background: linear-gradient(92deg,#ecf7ff,#ffffff,#f9fff7);
}
#article-list>.article-list-row.notice:hover{
    background: linear-gradient(25deg,#ecf7ff,#ffffff,#f9fff7);
}
#article-list>.article-list-row {
    border:none;
/*     background:#fff; */
    background: linear-gradient(31deg,#ffffff 15%,#f9fbff);
}
#article-list>.article-list-row:hover {
    background: linear-gradient(45deg,#ffffff 5%,#fffce6,#ffeefd);

}
#article-reply-area #reply-real-area .reply,
#article-reply-area #reply-best-area .reply,
#article-content-wrapper>.vote-area,
#article-content-wrapper #article-content{
    background:#ffffff;
    border: none;
}

#article-list>.article-list-row:nth-of-type(7n+1) {
    border-bottom: 1px solid #00000017;
    margin-bottom: 3px;
}
#article-list>.article-list-row>.item>.list-checkbox,
#article-list>.article-list-row>.item>.list-header,
#article-list>.article-list-row>.item>.list-category,
#article-list>.article-list-row>.item>.list-title,
#article-list>.article-list-row>.item>.list-blocked,
#article-list>.article-list-row>.item>.list-time {
    border-bottom:none;
}

#article-content-wrapper{
    padding:0;
    margin: 0 1em 1em;   
}

header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame,
#article-content-wrapper,
#article-reply-area #reply-real-area .reply,
#article-reply-area #reply-best-area .reply{
    box-shadow: -1px 0px 3px rgba(0,0,0,.12);
}
#article-reply-area .reply > .reply-header{
    border: none !important;
}
#article-reply-area #reply-best-area .reply > .reply-header{
    background: linear-gradient(0deg,#fff4ea,#ffd7d6);
}
#article-reply-area #reply-real-area .reply:nth-of-type(5n +0) > .reply-header{    background: linear-gradient(0deg,#ffffff,#eff7f9);}
#article-reply-area #reply-real-area .reply:nth-of-type(5n +1) > .reply-header{    background: linear-gradient(0deg,#ffffff,#fef3ff);}
#article-reply-area #reply-real-area .reply:nth-of-type(5n +2) > .reply-header{    background: linear-gradient(0deg,#ffffff,#fbfff3);}
#article-reply-area #reply-real-area .reply:nth-of-type(5n +3) > .reply-header{    background: linear-gradient(0deg,#ffffff,#f5fff3);}
#article-reply-area #reply-real-area .reply:nth-of-type(5n +4) > .reply-header{    background: linear-gradient(0deg,#ffffff,#fff3f3);}

/* Selected comment */
#article-reply-area .reply.active > .reply-header{
    background: linear-gradient(0deg,#fff9e5,#ffffff) !important;
}
#article-reply-area #reply-real-area .reply.active,
#article-reply-area #reply-best-area .reply.active{
    box-shadow: 0px 0px 11px 0px #8180ffd1;
}


/* New message top line */
.fr-toolbar{
    border-top:5px solid #a29dd2;
}


#article-list>.article-list-row.hot:before,
header #header-bar>.row:before,
#article-content-wrapper:before,
#article-list:before{
    background: linear-gradient( 45deg,rgb(188, 168, 240) 19%,rgb(240, 168, 207) 39.4%,rgb(240, 216, 168) 59.8%,rgb(178, 240, 168) 79.8%,rgb(168, 235, 240) 99.4%);
}

/* Fix  */
#main-content > div > div:nth-child(6) > div > div > div{
    background:transparent !important;
}

#article-list #article-list-menu>.btn.best{
    background: #fff;
}
#article-list #article-list-menu>.btn.best.enable{
    box-shadow: 0px 0px 4px #fff964;
}

/* Animations */
/* Nickname (Desktop) */
#board-info > h1 > a:nth-child(1) {
    letter-spacing: 0.04em;
}

/* Nickname > Animation (Mobile + Desktop) */
#board-info > h1 > a:first-of-type:hover,
#board-info > h1 > a:first-of-type:focus,
#board-info > h1 > a:first-of-type:active {
    animation: 180ms 1 alternate 100ms slidein,     250ms 1 alternate 180ms slidein,     660ms 1 alternate 330ms slidein;
}
@keyframes slidein {
0% {
}
25% {
    text-shadow: -1px 0px 0px #00ff03, -2px 0px 0px #000000;
    color: #ffffff;
}
30% {
    text-shadow: -1px 2px 0px #00ff6c, 0px -2px 0px #00e7ff;
    color: #fb00ef;
}
40% {
    text-shadow: -4px -3px 0px #00ff6c, 0px 2px 0px #000000;
    color: #ffffff;
}
75% {
    text-shadow: 0px 3px 0px #ffffff, 0px 3px 0px #ff0000;
    color: #ffffff;
}
85% {
    text-shadow: -1px 2px 0px #00ff07, 5px 0px 0px #000000;
    color: #9300ff;
}
90% {
    text-shadow: 0px -3px 0px #ff0000, -3px 0px 0px #000000;
    color: #ffffff;
}
100% {
    text-shadow: -1px 4px 0px #ffffff, 0px 3px 0px #000000;
    color: #000000;
}
}

/* Animation > Icon */

#board-info-profile-img:hover,
#board-info-profile-img:focus,
#board-info-profile-img:active {
    animation: 
      3s 1 cubic-bezier(0.92, -0.01, 1, 0.85) logocrazyintro,
      120ms 5 alternate 3000ms logocrazy,
      660ms 2 alternate 3600ms logocrazy;
}


@keyframes logocrazyintro {
100% {
    transform: rotateZ(360deg);
}
}


@keyframes logocrazy {
0% {
    filter: saturate(10000%) invert(100%) hue-rotate(0deg);
}
10% {
    filter: saturate(100000%) invert(0%) hue-rotate(-180deg);
}
25% {
    filter: saturate(10000%) invert(100%) hue-rotate(-360deg);
}
60% {
    filter: saturate(10000%) invert(100%) hue-rotate(-200deg) contrast(100%);
    transform: rotateZ(10deg);
}
70% {
    filter: saturate(100%) invert(100%) hue-rotate(200deg) contrast(200%);
    transform: rotateZ(-20deg);
}
100% {
    filter: saturate(100%) invert(100%) hue-rotate(200deg) contrast(200%);
    transform: rotateZ(20deg);
}
}
